
$color-base :red;
$color-important: #8B0000;
$color-warning: coral;

$box-shadow : -10px 5px 5px rgba(0,0,0, 0.8);
$principal-font : "Helvetica";
$secundary-font: "Comic Sans MS", "Comic Sans", cursive;